<!DOCTYPE html>
<html>
  <head>
    <title>PaprikaInstacartOrderer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <li>
          <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
          <%= current_user.email %>
          <%= link_to "Account settings", edit_user_registration_path %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
